{% extends 'main/layout.html' %}
{% load static %}
{% block main %}
<main class="page">
    <div class="page__container _container">
        <section class="form-section">
            <form class="page__form form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Регистрация</legend>
                        {% for field in user_form %}
                            <div>
                                <span class="form__error">{{field.errors}}</span>
                                {{field.label_tag}}
                                {{field}}
                            </div>
                        {% endfor %}
                        {% comment %}<div>
                            <label>Логин:<input type="text" name="username" value="" placeholder="Имя" required></label>
                        </div>
                        <div>
                            <label>Почта:<input type="email" name="email" value="" placeholder="Email" required></label>
                        </div>
                        <div>
                            <label>Пароль:<input type="password" name="password" value="" placeholder="Пароль" required></label>
                        </div>{% endcomment %}
                        <button class="register-button button" type="submit">Зарегистрироваться</button>
                </fieldset>
            </form>
            {% comment %}<img class="form__img" src="{% static 'tickets/img/signup.png' %}" alt="happy-signup">{% endcomment %}
        </section>
    </div>
</main>
{% endblock %}