{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/device.js' %}"></script>
    <title>{{ title }}</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container _container">
                <a href="{% url 'home' %}"><img class="header__logo" src="{% static 'img/logo.svg' %}" alt="logo"></a>
                <nav class="header__nav nav">
                    <ul class="nav__list">
                        {% comment %}<li class="nav__item"><a href="tel:+79503858079" class="nav__link"><img width="25px" class="menu__icon" src="{% static 'tickets/img/icons/phone.svg' %}" alt="phone">(505) 503-4455</a></li>{% endcomment %}
                        <li class="nav__item"><a href="{% url 'events' %}" class="nav__link">События</a></li>
                        <li class="nav__item"><a href="{% url 'about' %}" class="nav__link">О нас</a></li>
                        <li class="nav__item"><a href="{% url 'my-events' %}" class="nav__link">Мои билеты 🏷️</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link">Выйти | {{user.username}}</a></li>
                        {% else %}
                            <li class="nav__item"><a href="{% url 'login' %}" class="nav__link">Войти</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        {% block main %}
        {% endblock %}
        <footer class="footer">
            <div class="footer__container _container">
                <a href="#"><img class="footer__logo" src="{% static 'img/logo.svg' %}" alt="logo"></a>
                <img width="304px" class="star" src="{% static 'img/smile1.png' %}" alt="smiling-star">
                <div class="footer__menu menu">
                    <div class="menu__wrapper">
                        <h3 class="menu__heading">Страницы</h3>
                        <ul class="menu__list">
                            <li class="menu__item"><a href="{% url 'about' %}" class="menu__link">О нас</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Категории</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Блог</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">Демо</a></li>
                        </ul>
                    </div>
                    <div class="menu__wrapper">
                        <h3 class="menu__heading">Услуги</h3>
                        <ul class="menu__list">
                            <li class="menu__item"><a href="{% url 'events' %}" class="menu__link">Купить билеты</a></li>
                        </ul>
                    </div>
                    <div class="menu__wrapper">
                        <h3 class="menu__heading">Контакты</h3>
                        <ul class="menu__list">
                            <li class="menu__item"><a href="tel:+79503858079" class="menu__link"><img class="menu__icon" src="{% static 'img/icons/phone.svg' %}" alt="phone">(505) 503-4455</a></li>
                            <li class="menu__item"><a href="mailto:tamirsundureev@gmail.com" class="menu__link"><img class="menu__icon" src="{% static 'img/icons/mail.svg' %}" alt="email">ticketee@gmail.com</a></li>
                            <li class="menu__item"><a href="#" class="menu__link"><img class="menu__icon" src="{% static 'img/icons/pin.svg' %}" alt="location">Москва</a></li>
                        </ul>
                    </div>
                    <div class="menu__wrapper">
                        <h3 class="menu__heading">Социалки</h3>
                        <ul class="menu__list icons-wrapper">
                            <li class="menu__item"><a href="#" class="menu__link"><img src="{% static 'img/icons/facebook.svg' %}" alt="facebook"></a></li>
                            <li class="menu__item"><a href="#" class="menu__link"><img src="{% static 'img/icons/twitter.svg' %}" alt="twitter"></a></li>
                            <li class="menu__item"><a href="#" class="menu__link"><img src="{% static 'img/icons/linked.svg' %}" alt="linkedin"></a></li>
                            <li class="menu__item"><a href="#" class="menu__link"><img src="{% static 'img/icons/instagram.svg' %}" alt="instagram"></a></li>
                        </ul>
                    </div>
                    <img class="paper-plane" width="217px" src="{% static 'img/paper-plane.png' %}" alt="paper-plane">
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>