{% extends 'main/layout.html' %}
{% load events_tags %}
{% load static %}
{% block main %}
<main class="page">
    <div class="page__container _container">
        <section id="events" class="page__events">
            <h2 class="page__events-heading">События</h2>
            {% get_cats as cats %}
            <div class="categories">
                <select title="categories" class="categories__select" id="">
                    {% if cat_selected == "" %}
                        <option>Все категории</option>
                    {% else %}
                        <option value="{% url 'events' %}">Все категории</option>
                    {% endif %}
                    {% show_cats %}
                </select>
            </div>
            {% show_events %}
        </section>
    </div>
</main>
{%endblock%}