{% extends 'tickets/layout.html' %}
{% load tickets_tags %}
{% load static %}
{% block main %}
<main class="page">
    <div class="page__container _container">
        <section id="events" class="page__events">
            <h2 class="page__events-heading">События</h2>
            {% get_cats as cats %}
            <div class="categories">
                <select title="categories" class="categories__select" id="">
                    {% if cat_selected == 0 %}
                        <option>Все категории</option>
                    {% else %}
                        <option value="{% url 'home' %}">Все категории</option>
                    {% endif %}
                    {% for c in cats %}
                        {% if c.pk == cat_selected %}
                            <option selected="true" value="#">{{c.name}}</option>
                        {% else %}
                            <option value="{{ c.get_absolute_url }}">{{c.name}}</option>
                        {% endif %}
                    {% endfor%}
                </select>
            </div>
            {% show_events %}
        </section>
    </div>
</main>
{% endblock %}