{% extends 'tickets/layout.html' %}
{% load static %}
{% load tickets_tags %}
{% block main %}
<main class="page">
    <div class="page__container _container">
        <section class="page__welcome welcome">
            <div class="welcome__info">
                <h1 class="welcome__heading">Мы продаем билеты!</h1>
                <p class="welcome__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing. Nisi quis eleifend quam adipiscing vitae proin sagittis. Magna ac placerat vestibulum lectus mauris ultrices eros in.</p>
            </div>
            <div class="welcome__button button"><a href="#events" class="welcome__link">Купить билеты!</a></div>
            <img class="welcome__image" src="{% static 'tickets/img/star.png' %}" alt="exciting-star">
        </section>
        <section id="events" class="page__events">
            <h2 class="page__events-heading">События</h2>
            {% getcats as cats %}
            <div class="categories">
                <select title="categories" class="categories__select" id="">
                    {% if cat_selected == 0 %}
                        <option>Все категории</option>
                    {% else %}
                        <option value="{% url 'home' %}">Все категории</option>
                    {% endif %}
                    {% showcats %}
                </select>
            </div>
            {% for event in events %}
                <div class="event">
                    <img src="{{event.photo.url}}" alt="Событие" class="event__photo">
                    <div class="event__info">
                        <h3 class="event__heading">{{event.name}}</h3>
                        <a href="{{event.category.get_absolute_url}}" class="event__category">{{event.category}}</a>
                        <p class="event__description">{{event.description|truncatewords:70}}</p>
                        {% if event.available %}
                            <a href="{% url 'event' event.pk %}" class="event__button button">Купить билет</a>
                        {% else %}
                            <a class="event__button button event__button--disabled">Купить билет</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}